name: "Check"

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

concurrency:
  group: "${{ github.workflow }}-${{ github.head_ref || github.ref }}"
  cancel-in-progress: true

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: '0'
          show-progress: 'false'
      - name: jbang
        uses: jbangdev/jbang-action@v0.135.1
        with:
          script: CreatePRMergeCommit.java
          scriptargs: --help
        env:
          GITHUB_OAUTH: ${{ secrets.GITHUB_TOKEN }}
